:root {
  --dark-gray: #161616;
  --light-gray:  rgb(236, 236, 236);
  --accent-color:  rgb(148, 148, 148);

  --background: var(--dark-gray);
  --foreground: var(--light-gray);

  --bar-width: 30px;
  --bar-height: 4px;
  --hamburguer-gap: 6px;
  --hamburger-margin: 16px;
  --animation-timing: 200ms ease-in-out;
  --hamburguer-height: calc(var(--bar-height) * 3 + var(--hamburguer-gap) * 2);
  --sqr-root-2: 1.41421356237;
}

.sidebar-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
}

.hamburger-menu {
  --x-width: calc(var(--hamburguer-height) * var(--sqr-root-2));

  position: absolute;
  top: var(--hamburger-margin);
  right: var(--hamburger-margin);

  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: var(--hamburguer-gap);
  width: max-content;
  cursor: pointer;
  z-index: 3;
}

/* .hamburger-menu:has(input:checked) {
  --foreground: var(--dark-gray);
  --background: var(--light-gray);
} */

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 999999px;
  transform-origin: right center;
  transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: scroll;
  font-weight: 700;
  
  padding: 0.5em 0.8em;
  padding-top: calc(var(--hamburguer-height) + var(--hamburger-margin) + 1em);
  background-color: rgba(236, 236, 236, 0.06);
  /* background-color: var(--foreground); */
  color: var(--background);
  max-height: 100%;
  min-height: 100%;
  transition: translate var(--animation-timing);
  translate: 100%;
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}

.stored-card {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0.4em;
  height: 3em;
  margin: 0.2em 0;
  border-radius: 4px;

  background-color: var(--dark-gray);
  color: var(--light-gray);
  box-shadow: 0 0 0 1.5px var(--accent-color);
}

.sidebar-nameplate {
  font-size: 1.45em;
  font-weight: 400;
  width: 20em;
  overflow: hidden;
  white-space: nowrap;
  cursor: help;
}

.stored-card button,
.sidebar-container button {
  cursor: pointer;
  border: none;
}

.stored-card button:hover,
.clear-list-button:hover,
.stored-card:hover {
  transform: scale(1.05);
}

.stored-card button {
  margin: 0 0.3em;
  color: var(--accent-color);
  background-color: transparent;
}

.clear-list-button {
  background-color: var(--accent-color);
  border-radius: 8px;
  box-shadow: 0 0 0 1.5px var(--dark-gray);
  color: var(--light-gray);
  font-weight: 600;
  padding: 0.4em 0;
  margin-top: 0.5em;
  text-transform: uppercase;
}