.sidebar {
  border: 1px dashed red;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  position: absolute;
  top: 0;
  right: 0;
  width: 20em;
}

.stored-card {
  display: flex;
  flex-direction: row;
  height: 1.8em;
  margin: 0.5em 0;
}

.sidebar-nameplate {
  width: 15em;
  overflow: hidden;
}