.big-stat-display {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 85% 15%;
  align-items: center;
  
  height: 11em;
  width: 13.5em;
}

.stats-frame {
  background-image: url('../assets/stats-display.svg');
  background-size: 17em;
  background-position: center center;
  background-repeat: no-repeat;
  height: inherit;
  width: 100%;

  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
}

.number {
  font-size: 6em;
}

.label {
  font-family: 'Cinzel', serif;
  font-weight: 700;
  font-size: 1.5em;
}